<launch>

    <!-- Gazebo Simulation -->
    <include file="$(find notspot_gazebo)/launch/simulation.launch" />

    <!-- Joystick -->
    <include file="$(find notspot_joystick)/launch/joystick_emulator.launch" />

    <!-- Robot Controller -->
    <include 
        file="$(find notspot_controller)/launch/robot_controller.launch"/>
        
    <!-- arguments for the urdf xacro file, rviz visualization and namespace -->
    <node pkg="robot_state_publisher" type="robot_state_publisher"  name="realsense_camera">
      <param name="publish_frequency" type="double" value="30.0" />
    </node>

</launch>
